.heading

{

   font-size:23px;

   width:100%;

   margin:0px;

}

.note

{

   font:15px;

   color:black;

}

body

{

   background-size:cover;

}

.div_number_1

{

   float:left;

}

.Peter_Pan_png

{

   width:200px;

   border-radius:100px;

}

#song_1

{

   font-size:25px;

   margin:15px;

}

.div_number_2

{

   float:right;

}

.Harry_Potter_png

{

   width:200px;

   border-radius:200px;

}

#song_2

{

   font-size:25px;

   margin:15px;

}

.play_button

{

   width:130px;

   font-size:20px;

}


canvas

{

   border:5px solid white;

   border-radius:20px;

}